{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>
        Add Data
    </title>
</head>
<body>

<div class="container mb-3 mt-5">
    <div class="card text-black border-primary">
    <div class="card-header">
        <strong>
            Insert Data
        </strong>
    </div>

            <div class="card-body">
                <form method="POST">
                    <fieldset class="form-group">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </fieldset>
                    <br>
                    <input class="btn btn-success" type="submit" value="Add Data">
                </form>
            </div>
</div>
</div>



</body>
</html>