{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Add Data
{% endblock %}

{% block content %}
    <div class="container mb-3 mt-5">
    <div class="card text-black border-primary">
    <div class="card-header">
        <strong>
            Insert Data
        </strong>
    </div>

            <div class="card-body">
                <form method="POST">
                    <fieldset class="form-group">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </fieldset>
                    <br>
                    <input class="btn btn-success" type="submit" value="Add Data">
                </form>
            </div>
</div>
</div>


{% endblock %}
