{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Add Data
{% endblock %}

{% block content %}

    <div class="container mb-3 mt-5">
        <div class="card text-black border-primary">
            <div class="card-header">
                <strong>
                    Delete Data
                </strong>
            </div>

            <div class="card-body">
                <h5>Are you sure you want to delete "{{ item }}?"</h5>

                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <a class="btn btn-success" href="{% url 'home_page' %}">Cancel</a>
                        <input class="btn btn-danger" type="submit" value = "Confirm">
                    </form>
            </div>
</div>
</div>

{% endblock %}
