{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Visual Data
{% endblock %}

{% block content %}

        <h1 style="text-align:center">
            Data Visualization app with Django
        </h1>

        <div class="card text-center" style="margin-left: 20%;margin-right: 20%;">
          <div class="card-header">
            Data Insertion Page
          </div>
          <div class="card-body">
            <h5 class="card-title">Insert Data</h5>
            <p class="card-text">Insert data here using all the fields. This link will take you to another page.</p>
            <a href="{% url 'add_data' %}" class="btn btn-primary">Insert Data</a>
          </div>
        </div>

        <div class="mt-5 ml-5 mr-5 mb-5" style="text-align:center">
            <form method="get">
                {% comment %} {{filter.form|crispy}} {% endcomment %}
                <select class="form-select" name="trade_code" id="id_trade_code">
                    <option selected>Select a trade code</option>
                    {% for i in dropdown %}<option value="{{i.trade_code}}">{{i.trade_code}}</option>{% endfor %}
                </select>
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>

        <div class="mt-5 ml-5 mr-5 mb-5">
            <h4 style="text-align:center"> Mixed Chart </h4>
        {% include 'home/includes/mixed_chart.html' %}
        </div>

        <div class="mt-5 ml-5 mr-5 mb-5">
            <h4 style="text-align:center"> Bar Chart </h4>
        {% include 'home/includes/bar_chart.html' %}
        </div>

    <div class="container mt-5">
        <table id="table_id" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Trade Code</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Open</th>
                    <th>Close</th>
                    <th>Volume</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for d in data %}
            <tbody>
            <tr>
                <td>{{d.date}}</td>
                <td>{{ d.trade_code }}</td>
                <td>{{ d.high }}</td>
                <td>{{ d.low }}</td>
                <td>{{ d.open }}</td>
                <td>{{ d.close }}</td>
                <td>{{ d.volume }}</td>
                <td>
                    <a class="btn btn-success btn-sm" href="{% url 'add_data' d.id %}">Edit</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'delete_data' d.id %}">Delete</a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>

<!--        <div>-->
<!--            {% if data.has_previous %}-->
<!--                <a class="btn btn-primary btn-sm" href="{% url 'home_page' %}?page={{data.previous_page_number}}">Previous Page</a>-->
<!--            {% endif %}-->
<!--            {% if data.has_next %}-->
<!--                <a class="btn btn-primary btn-sm" href="{% url 'home_page' %}?page={{data.next_page_number}}">Next Page</a>-->
<!--            {% endif %}-->
<!--        </div>-->

    </div>
{% endblock %}

