{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Visual Data
{% endblock %}

{% block content %}

<h1 style="text-align:center">
            Data Visualization app with Django
        </h1>

        <div class="card text-center" style="margin-left: 20%;margin-right: 20%;">
          <div class="card-header">
            Data Insertion Page
          </div>
          <div class="card-body">
            <h5 class="card-title">Insert Data</h5>
            <p class="card-text">Insert data here using all the fields. This link will take you to another page.</p>
            <a href="{% url 'add_data' %}" class="btn btn-primary">Insert Data</a>
          </div>
        </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-12 ">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs" id="data-visualization" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#data" role="tab" aria-controls="data" aria-selected="true">Data Table</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="#bar" role="tab" aria-controls="bar" aria-selected="true">Bar Chart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#mixed" role="tab" aria-controls="mixed" aria-selected="true">Mixed Chart</a>
                </li>
              </ul>
            </div>

            <div class="card-body">
               <div class="tab-content mt-3">

                   <!-- Data Table -->
                <div class="tab-pane active" id="data" role="tabpanel">
                    <h4 class="card-title">Data Table</h4>

                    <table id="table_id" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Trade Code</th>
                                <th>High</th>
                                <th>Low</th>
                                <th>Open</th>
                                <th>Close</th>
                                <th>Volume</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        {% for d in data %}
                        <tbody>
                            <tr>
                                <td>{{d.date}}</td>
                                <td>{{ d.trade_code }}</td>
                                <td>{{ d.high }}</td>
                                <td>{{ d.low }}</td>
                                <td>{{ d.open }}</td>
                                <td>{{ d.close }}</td>
                                <td>{{ d.volume }}</td>
                                <td>
                                    <a class="btn btn-success btn-sm" href="{% url 'add_data' d.id %}">Edit</a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'delete_data' d.id %}">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>

                    <div>
                        {% if data.has_previous %}
                            <a class="btn btn-primary btn-sm" href="{% url 'home_page' %}?page={{data.previous_page_number}}">Previous Page</a>
                        {% endif %}
                        {% if data.has_next %}
                            <a class="btn btn-primary btn-sm" href="{% url 'home_page' %}?page={{data.next_page_number}}">Next Page</a>
                        {% endif %}
                    </div>
                </div>
                   <!-- End of DataTable -->

                   <!-- Bar Chart -->
                   <div class="tab-pane" id="bar" role="tabpanel" aria-labelledby="history-tab">
                       <h4 class="card-title">Bar Chart</h4>
                    {% include 'home/includes/bar_chart.html' %}
                   </div>
                   <!-- End of Bar Chart -->

                   <!-- Mixed Chart -->
                <div class="tab-pane" id="mixed" role="tabpanel" aria-labelledby="deals-tab">
                    <h4 class="card-title">Mixed Chart</h4>
                    {% include 'home/includes/mixed_chart.html' %}
                </div>
                   <!-- End of mixed chart -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

